html, body {
    font-family: Baskerville, Helvetica, Arial;
    margin: 0;
    padding: 0;
    background: #ffd203;
    height: 100%;
}

h1, h2 {
  font-weight: normal;
}

#container {
  position: relative;
  min-height: 100%;
}

#header.default #topnav {
  background: black;
  font-size: 24pt;
}

#header.default #topnav h1, #header.default #topnav a.logo div {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#header.default #topnav h1 {
  font-size: inherit;
  width: 640px;
  margin: 0 auto;
  color: white;
}

#header.default #topnav a.logo div {
  width: 150px;
  background: url('/img/hackasaurus_mashed.png') 30% 20%;
  float: left;
}

#sidebar {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 130px;
  margin-right: 0;
  margin-top: 1em;
  padding: 10px;
  background: #c60c46;
  color: white;
  border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

#sidebar ul.services {
  padding-top: 8px;
}

#sidebar li {
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#content {
  width: 640px;
  margin: 0 auto;
  padding-bottom: 1em;
}

#content a {
  font-weight: bold;
  text-decoration: inherit;
}

#content a:hover {
  text-decoration: underline;
}

#pre-footer {
  min-height: 54px;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer .main-column {
  margin-left: 1em;
  margin-right: 1em;
  text-align: right;
}

#footer img {
  padding: 5px;
  height: 20px;
}

a {
  color: inherit;
}

img {
  border: none;
}
