body {
    font-family: Baskerville, Helvetica, Arial;
    background: #ffd203;
    margin: 0;
    padding: 0;
}

h1, h2 {
  font-weight: normal;
}

#header.default #topnav {
  background: black;
  font-size: 24pt;
}

#header.default #topnav h1, #header.default #topnav a.logo div {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#header.default #topnav h1 {
  font-size: inherit;
  width: 640px;
  margin: 0 auto;
  color: white;
}

#header.default #topnav a.logo div {
  width: 100px;
  background: url('/img/hackasaurus_mashed.png') 30% 20%;
  float: left;
}

#content {
  width: 640px;
  margin: 0 auto;
  padding-bottom: 1em;
}

#content a {
  font-weight: bold;
  text-decoration: inherit;
}

#content a:hover {
  text-decoration: underline;
}

#footer {
  background: black;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#footer .main-column {
  margin-left: 1em;
  margin-right: 1em;
  text-align: right;
}

#footer img {
  padding: 5px;
  height: 20px;
}

a {
  color: inherit;
}

img {
  border: none;
}
