.two-column { 
  line-height: 1.35;
}

#content section h2 {
  font-size: 22px;
}

#content section p {
  margin-bottom: 36px;
}

#content aside {
  font-size: 16px;
  padding-top: 68px;
}

#content aside a {
  text-decoration: none;
  color: #E6840B;
}

#content aside a:focus,
#content aside a:hover,
#content aside a:active {
  text-decoration: underline;
}

#content aside img {
  width: 100%;
}

#content aside .bio img {
  width: 72px;
  float: left;
  margin-right: 16px;
}

#team {
  font-size: 14px; 
  line-height: 1.1;
}

.bio {
  margin-bottom: 22px;
}

.bio strong {
  font-weight: normal;
  font-family: 'TrashHandRegular';
  font-size: 22px; 
}
