#blog {
  width: 66%;
}

#blog > h1 {
  font-size: 48px;
}

#blog > aside {
  margin-top: -30px;
}

#blog .entries {
  padding-top: 40px;
  padding-bottom: 40px;
}

#blog h2.title {
  margin-bottom: 0px;
}

#blog .date {
  padding-bottom: 15px;
}

#blog .byline {
  float: right;
}

#blog .date, #blog .byline, #blog .content {
  font-size: 12px;
}

#blog .content {
  color: gray;
  padding-bottom: 15px;
  line-height: 22px;
}

#blog .content a:link,
#blog .content a:visited,
#blog .content a:focus,
#blog .content a:hover,
#blog .content a:active,
#blog .content b {
  color: #ef4619;
  color: #f8a339;
  text-decoration: none;
}

#blog .content a:focus,
#blog .content a:hover,
#blog .content a:active {
  text-decoration: underline;
}

#blog .content h1, #blog .content h2 {
  font-family: inherit;
}

#blog .content h3 {
  font-weight: normal;
}

