#content-header img {
  margin-left: 30px;
}

#content-header h1 {
  margin-top: 110px;
}

#blog ul.recent-posts {
  list-style-type: none;
  padding-left: 0px;
  font-size: 14px;
}

#blog ul.recent-posts li {
  padding-bottom: 10px;
}

#blog h2.title {
  margin-bottom: 0px;
}

#blog .date {
  padding-bottom: 15px;
}

#blog .byline {
  float: right;
  padding-right: 10px;
}

#blog .date, #blog .byline, #blog .content {
  font-size: 12px;
}

#blog .content {
  color: gray;
  padding-bottom: 15px;
  line-height: 22px;
}

#blog .content img {
  display: block;
  margin: 0 auto;
  padding: 10px;
}

#blog .content a:link,
#blog .content a:visited,
#blog .content a:focus,
#blog .content a:hover,
#blog .content a:active,
#blog .content b {
  color: #ef4619;
  color: #f8a339;
  text-decoration: none;
}

#blog .content a:focus,
#blog .content a:hover,
#blog .content a:active {
  text-decoration: underline;
}

#blog .content h1, #blog .content h2 {
  font-family: inherit;
}

#blog .content h3 {
  font-weight: normal;
}

