{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/educators.css">
{% endblock %}
{% block content %}
<div id="educators">
  <div id="content-header">
    <h1>Educators</h1>
    Tools for teaching webmaking
  </div>
  <div id="kit" class="two-column">
    <section>
      <h2>The Hacktivity Kit</h2>
      <p>Step by step instructions for running your own hack jam. This includes printables,
      sample lesson plans, assessment rubrics and cheat sheets. You'll learn how to:</p>
      <ul>
        <li>prepare for a hack jam</li>
        <li>choose a theme and set learning goals</li>
        <li>design a lesson plan</li>
        <li>a 101 guide to HTML</li>
        <li>set up for success</li>
        <li>work in teams and co-build</li>
      </ul>
      <p>...and more!</p>
      <a class="button" href="#">Download<span class="arrow"></span></a>
    </section>
  </div>
  <div id="slides" class="two-column">
    <section>
      <h2>Hackasaurus Slides</h2>
      <p>An HTML5 remixable slide show. You will learn:</p>
      <ul>
        <li>what we mean when we say hack</li>
        <li>what makes the web unique</li>
        <li>how to install the X-Ray Goggles</li>
        <li>how to make your first hack</li>
      </ul>
      <a class="button" href="#">Play Slide Show<span class="arrow"></span></a>
    </section>
  </div>
  <div id="checklist" class="two-column">
    <section>
    <h2>I.T. Checklist:</h2>
    <ul>
      <li>stable internet connection</li>
      <li>laptops or PC's for participants</li>
      <li>most up-to-date version of Firefox, Opera, Chrome or Safari browsers</li>
      <li>X-Ray Goggles bookmarklets installed</li>
      <li>projector set up for participation</li>
    </ul>
    <p>For a more detailed checklist, download the pdf below.</p>
    <a class="button" href="#">Download PDF<span class="arrow"></span></a>
    </section>
  </div>
  <div id="cheatsheet" class="two-column">
    <section>
      <h2>X-Ray Goggles Cheat Sheet</h2>
      <p>A quick reference printable for the X-Ray Goggles tool, highlighted hot keys:</p>
      <ul>
        <li>R - remix an element</li>
        <li>I - inspect an element</li>
        <li>T - tear out the code to share your hacks</li>
        <li>ESC - deactivate the goggles</li>
        <li>◀ - Undo</li>
        <li>▶ - Redo</li>
        <li>▲ - Ascend to parent element</li>
        <li>▼ - Descend from parent element</li>
        <li>Delete or Backspace - delete an element</li>
      </ul>
      <a class="button" href="#">Download PDF<span class="arrow"></span></a>
    </section>
  </div>
</div>
{% endblock %}
