{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/educators.css">
{% endblock %}
{% block content %}
<div id="educators">
  <div id="content-header">
    <h1>Educators</h1>
    Tools for teaching webmaking
  </div>
  <div class="two-column">
    <section>
      <p>Educators who want to teach classes, teens who want to start your own hacking club and community organizers who want to hack the world that you live in: here you'll find everything you need to help you organize, run and publicize your very own Hackasaurus design jam. Happy hacking!</p>

      <h2>Prepare for a youth design jam</h2>
      <p>Planning and facilitating a meeting or event should not be a solo affair. Invite youth and facilitators who have experience in the field and/or with kids and work with them to develop a game plan or curriculum for the day of the design jam. Have some people with technical skills on hand to troubleshoot as well as act as a creative support team. Consider approaching local universities or tech organizations to act as on-site mentors.</p>

      <h2>Choose a theme and set learning goals</h2>
      <p>Think creatively about incorporating Hackasaurus into the work that you already do. Identify what the big picture learning objectives are for the event so that you can begin to craft a design challenge. Remember, the technology or media should not be the theme of the jam, just a strategy for implementation. Some past jams have included: Hacking Citizen Science on Earth Day, Social Hacktivism and Entrepreneurship 101.</p> 

      <p>The goal of every design jam should be to make something. Set expectations for outcomes so that both the youth and facilitators know the expectations coming into the jam. Reinforce this with publicity efforts and messaging happening around the event. If you are a teacher in a school, think about how you can integrate a lesson plan utilizing Hackasaurus tools into your curriculum.</p> 

      <h2>Design the lesson or event plan</h2>
      <p>Break the learning goals down into small tasks that can be incorporated into your design challenge. With your team of Superheroes, think about ways to embed assessment directly into the activity so that it is both a meaningful learning experience and a fun design activity.</p> 

      <p>Many event plans allow for some dedicated instruction combined with experimentation time. Here are some sample lesson plans for you to use, or remix to fit the theme of the day.</p>

      <div class="tip">
        <strong>Tip:</strong> Get familiarized with some of the terms used commonly when talking about webmaking. Visit the <a class="offsite" href="#">Mozilla Developer Network</a>.
      </div>

      <h2>Set up for success</h2>
      <p>Define the space where you will be hosting the design jam. Make sure that you have prepared both your technical materials as well as physical space well in advance.</p>

      <div class="tip">
        <strong>Tip:</strong> Break up the space as much as possible.
        <ul>
        <li>Move chairs into a circle.</li>
        <li>Design "centers" or stations for people to move about within the space.</li>
        <li>Set up a projector connected to a laptop for easy sharing of hacks.</li>
        </ul>
      </div>

      <p>Think of all participants as makers&mdash;including facilitators, learners and volunteers. Make every attempt humanly possible to define the jam space as interactive. Start out by designing ice-breakers and opportunities to get people to contribute to the design challenge and work collectively to make something by the end of the day.</p>

      <h2>Work in teams and share</h2>
      <p>Let teens work together in teams, and throughout the jam encourage them to take on specific roles on their project (i.e., visual designer, coder, project manager, documentarian). Have them present what they did, encouraging conversation about process and techniques! Everyone shares something useful that they learned&mdash;only one sentence to answer and if there is someone who said something interesting, shout it out and let them know that you agree. Embed a lightweight de-brief into the sharing out of useful things.</p> 

      <p>As soon as your jam is over, upload your pictures to a public repository like <a href="#" class="offsite">Flickr</a>. Direct participants to resources so that they can continue making, hacking, building and connecting to peers who they met at the jam.</p>
    </section>

    <aside>
      <div class="textbox">
        <h2>Download the hacktivity kit</h2>

        The kit includes:
        <ul>
        <li>sample lesson plans</li>
        <li>printables</li>
        <li>cheatsheets</li>
        <li>a 101 guide to HTML</li>
        <li>sample permission slips</li>
        <li>tips to get you started</li>
        </ul>
        &hellip;and more!

        Download <a href="#" class="onsite">here</a>.
      </div>

      <div id="checklist" class="textbox">
        <h2>I.T. Checklist for your event</h2>

        <ol>
        <li>Make sure that you have a stable enough internet connection for the number of youth expected.</li>
        <li>Have laptops or PCs available for students or teams of students.</li>
        <li>Install the most up-to-date version of a <a href="#" class="offsite">modern browser</a> on the computers. (Right now the Hackasaurus tools work reliably on the latest versions of Firefox, Chrome, and Safari, but support for more browsers is on the way.)</li>
        <li>If possible, pre-install the bookmarklet on all the computers to save time at the event.</li>
        <li>Set up a projector to a computer so that you can demo things on a screen that everyone can see, and students can share their work.</li>
        </ol>
      </div>
    </aside>
  </div>
</div>
{% endblock %}
