{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/educators.css">
{% endblock %}
{% block content %}
<div id="educators">
  <div id="content-header">
    <h1>{% trans %}Resources{% endtrans %}</h1>
    {% trans %}Tools for teaching webmaking{% endtrans %}
  </div>
  <div id="kit" class="two-column">
    <section>
      <h2>{% trans %}The Hacktivity Kit{% endtrans %}</h2>
      <p>{% trans %}Step by step instructions for running your own hack jam. This includes printables,
      sample lesson plans, assessment rubrics and cheat sheets. You'll learn how to:{% endtrans %}</p>
      <ul>
        <li>{% trans %}prepare for a hack jam{% endtrans %}</li>
        <li>{% trans %}choose a theme and set learning goals{% endtrans %}</li>
        <li>{% trans %}design a lesson plan{% endtrans %}</li>
        <li>{% trans %}a 101 guide to HTML{% endtrans %}</li>
        <li>{% trans %}set up for success{% endtrans %}</li>
        <li>{% trans %}work in teams and co-build{% endtrans %}</li>
      </ul>
      <p>{% trans %}...and more!{% endtrans %}</p>
      <a class="button" href="http://labs.toolness.com/temp/hackasaurus-pdfs/hacktivity_kit.pdf">{% trans %}Download{% endtrans %}<span class="arrow"></span></a>
    </section>
  </div>
  <div id="slides" class="two-column">
    <section>
      <h2>{% trans %}Hackasaurus Slides{% endtrans %}</h2>
      <p>{% trans %}An HTML5 remixable slide show. You will learn:{% endtrans %}</p>
      <ul>
        <li>{% trans %}what we mean when we say hack{% endtrans %}</li>
        <li>{% trans %}what makes the web unique{% endtrans %}</li>
        <li>{% trans %}how to install the X-Ray Goggles{% endtrans %}</li>
        <li>{% trans %}how to make your first hack{% endtrans %}</li>
      </ul>
      <a class="button" href="http://htmlpad.org/hackasaurus-presentation-01/">{% trans %}Play Slide Show{% endtrans %}<span class="arrow"></span></a>
    </section>
  </div>
  <div id="checklist" class="two-column">
    <section>
    <h2>{% trans %}I.T. Checklist{% endtrans %}</h2>
    <ul>
      <li>{% trans %}stable internet connection{% endtrans %}</li>
      <li>{% trans %}laptops or PC's for participants{% endtrans %}</li>
      <li>{% trans %}most up-to-date version of Firefox, Opera, Chrome or Safari browsers{% endtrans %}</li>
      <li>{% trans %}X-Ray Goggles bookmarklets installed{% endtrans %}</li>
      <li>{% trans %}projector set up for participation{% endtrans %}</li>
    </ul>
    <p>{% trans %}For a more detailed checklist, download the PDF below.{% endtrans %}</p>
    <a class="button" href="http://labs.toolness.com/temp/hackasaurus-pdfs/it_checklist.pdf">{% trans %}Download PDF{% endtrans %}<span class="arrow"></span></a>
    </section>
  </div>
  <div id="cheatsheet" class="two-column">
    <section>
      <h2>{% trans %}X-Ray Goggles Cheat Sheet{% endtrans %}</h2>
      <p>{% trans %}A quick reference printable for the X-Ray Goggles tool, highlighted hot keys:{% endtrans %}</p>
      <ul>
        <li>R - {% trans %}remix an element{% endtrans %}</li>
        <li>I - {% trans %}inspect an element{% endtrans %}</li>
        <li>P - {% trans %}publish your hack{% endtrans %}</li>
        <li>{% trans %}ESC{% endtrans %} - {% trans %}deactivate the goggles{% endtrans %}</li>
        <li>◀ - {% trans %}Undo{% endtrans %}</li>
        <li>▶ - {% trans %}Redo{% endtrans %}</li>
        <li>▲ - {% trans %}Ascend to parent element{% endtrans %}</li>
        <li>▼ - {% trans %}Descend from parent element{% endtrans %}</li>
        <li>{% trans %}Delete{% endtrans %}/{% trans %}Backspace{% endtrans %} - {% trans %}delete an element{% endtrans %}</li>
      </ul>
      <a class="button" href="http://labs.toolness.com/temp/hackasaurus-pdfs/goggles_cheatsheet.pdf">{% trans %}Download PDF{% endtrans %}<span class="arrow"></span></a>
    </section>
  </div>
</div>
{% endblock %}
