/* RESET: GENERAL STYLES ------------------------------------ */

* {
	margin:0;
	padding:0;
	}

@font-face {
    font-family: 'PermanentMarkerRegular';
    src: url('../include/type/permanentmarker/PermanentMarker-webfont.eot');
    src: url('../include/type/permanentmarker/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
         url('../include/type/permanentmarker/PermanentMarker-webfont.woff') format('woff'),
         url('../include/type/permanentmarker/PermanentMarker-webfont.ttf') format('truetype'),
         url('../include/type/permanentmarker/PermanentMarker-webfont.svg#PermanentMarkerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'TitilliumText22LLight';
    src: url('../include/type/titillium/TitilliumText22L002-webfont.eot');
    src: url('../include/type/titillium/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'),
         url('../include/type/titillium/TitilliumText22L002-webfont.woff') format('woff'),
         url('../include/type/titillium/TitilliumText22L002-webfont.ttf') format('truetype'),
         url('../include/type/titillium/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'TitilliumTextBold';
    src: url('../include/type/titillium/TitilliumText22L004-webfont.eot');
    src: url('../include/type/titillium/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../include/type/titillium/TitilliumText22L004-webfont.woff') format('woff'),
         url('../include/type/titillium/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('../include/type/titillium/TitilliumText22L004-webfont.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;
	}

body {
	font-size:14px;
	line-height:22px;
	color:#EEE;
	/*background-image: url(http://hackasaurus.org/include/image/paper.jpg);*/
	/*background-image: url(../image/paper.png);*/
	/*background-image: url(../image/bg-grid-trans.png);
	background-color: #6FAACC;*/
	background-color: #FFF6ED;
	font-family: Helvetica, Arial, sans-serif;
	border-top: 2px solid #707070;
	}

div { 
	position:relative
	}

hr {
	margin:1.5em 0 1.5em 0;
	}

/* TEXT STYLES ------------------------------------ */


p {
	line-height:1.7em;
	margin-bottom:18px;
	}

strong {
	font-weight: bold;
	}

em {
	font-style: italic;
	} 

caption,
th {
	text-align:left;
	}

q:before,
q:after {
	content:'';
	}

address,
caption,
cite,
code,
dfn,
em,
var {
	font-style:normal;
	font-weight:normal;
	}

blockquote {
	font-style:italic;
	border-left:4px solid #998877;
	margin-left:2em;
	padding-left:1em;
	}

abbr {
	}


/* CODE ------------------------------------ */

code {
}


/* HEADINGS ------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 { 
	clear:both;
	font-weight: normal;
	}

.tagline,
h1,
h2,
h3,
h4,
h5,
h6,
nav { 
font-family:"TitilliumText22LLight", "Calypso E Light", Rockwell, Georgia, serif; font-size-adjust:0.605; 
font-weight:200;
font-style:normal;
/*color: #FFF;*/
color: #333;
}

.tagline {
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

h1,
h2 {
/*text-shadow: -1px -1px 0 rgba(0,0,0,0.2);*/
text-shadow: 1px 1px 0 rgba(250,250,250,0.6);	
}

h1 {
    font-size: 1.6em;
    line-height: 1.2em;
    margin: 13px 0 7px;
    text-align: center;
	}

section:not(.home) article.snippet h1 {
    font-size: 1.4em;
    line-height: 23px;
    margin: 6px 0;
    padding: 4px 0 2px;
    text-align: center;
    text-indent: 0;
    width: 100%;
    background-image: url(../image/arrow-down.png);
    background-repeat: no-repeat;
    background-position: right 2px;
	}

article.snippet h1:hover,
h3:hover {
	cursor: pointer;
}

h2 {
    font-size: 1.3em;
    line-height: 1.2em;
    margin: 7px 0 10px;
	}

h5 {
	font-size:1.2em;
	line-height:1.2em;
	margin:1em 0 0.1em 0;
	}

h6 {
	font-size:1em;
	line-height:1.2em;
	margin:1em 0 0 0;
	}

.helper-text {
	color: #E80000;
	font-family: PermanentMarkerRegular;
	font-size: 1.2em;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-shadow: none;
}

h1.helper-text {
	font-size: 1.4em;
	margin-bottom: 0.8em;
}


/* LISTS ------------------------------------ */

ol,
ul,
li {
	margin-left:2em;
	margin-bottom: 0.5em;
	}

dl {
	margin-top:1em;
	}

	dt {
		font-size:1.2em;
	}

	dd {
		font-size:1.1em;
		margin-bottom:1em;
		color:#454545;
	}


/* FORMS ------------------------------------ */

fieldset {
	border:0;
	}

textarea {
	}

/* IMAGE STYLES ------------------------------------ */

img {
	border:0;
	}

/* LINKS ------------------------------------ */

a:link,
a:visited,
a:focus,
a:hover,
a:active {
	color:#FFF;
	background-position: right;
	padding:3px 0 1px 0;
	background-repeat: no-repeat;
	}

a:link img,
a:visited img,
a:hover img,
a:focus img,
a:active img {
	border: none;
}


/* COMPONENT: BLOCKS ------------------------------------ */

header,
nav,
section,
article,
aside,
footer {
	display:block;
	position:relative;
	}

header,
footer {
    color: #000000;
    overflow: hidden;
    padding: 0.1em 4%;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
}

header {
	/*background-image: url(../image/bg-grid-trans.png);*/
	background-image: url(../image/hackasaurus-header.png);
	/*background-image: url(../image/header-red.png);*/
	background-color: #6DDDFF;
	background-repeat: repeat-x;
	background-position: top center;
	padding: 27px 2% 0px;
}

section[role="main"] {
	min-height: 100%;
	width: 100%;
	display: block; margin-bottom: 6em;
}

.container {
	display: block;
	position: absolute;
	min-height: 100%;
	width: 100%;
}

.walkthrough li a:link,
.walkthrough li a:visited,
.walkthrough li a:hover,
.walkthrough li a:focus,
.walkthrough li a:active,
.nav-library li a:link,
.nav-library li a:visited,
.nav-library li a:hover,
.nav-library li a:focus,
.nav-library li a:active,
article {
    margin: 0 auto 1em;
    overflow: hidden;
    border-radius: 5px;
    background-repeat: repeat;
    border-radius: 4px 4px 4px 4px;
        padding: 0 1%;
    width: 92%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.35);
}

article {
    background-image: url(../image/alpha/black-15.png);
    }

article#resources {
	/*background-image: url(../image/alpha/black-25.png);*/
	background-image: none;
	background-color: #34CEFF;
}

article#tutorials {
	background-color: #F7DE21;
	background-image: none;
}

#resources a:link,
#resources a:visited,
#resources a:hover,
#resources a:focus,
#resources a:active {
	color: #333;
}

header .logo {
    background-image: url("../image/logo-hackbook.png");
    background-position: left 7px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 24px;
    padding: 6px 10px 6px 0;
    text-indent: -9999px;
    width: 170px;
    z-index: 1;
}


nav.primary {
	background-color: #626262;
	background-position: center bottom;
	background-repeat: repeat-x;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	overflow: hidden;
	padding: 3px 0 0;
	width: 100%;
}

nav.primary li {
	background-image: url(../image/nav-li.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}

nav.primary li:last-of-type a span {
	background-image: url(../image/nav-li.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

nav ul {
	margin: 0;
	padding: 0 2%;
	list-style-type: none;
	font-size: 0.9em;
	text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav.primary ul li {
	margin-right: -4px;
}

nav.primary ul li a:link,
nav.primary ul li a:visited,
nav.primary ul li a:hover,
nav.primary ul li a:focus,
nav.primary ul li a:active {
    border-radius: 1px 1px 0 0;
    color: #FFFFFF;
    display: block;
    padding: 0;
    text-decoration: none;
}

nav.primary ul li span {
	display: block;
	padding: 7px 18px 8px 17px;
}

body.page-templates nav li.page-templates a,
body.page-text nav li.page-text a,
body.page-images nav li.page-images a,
body.page-links nav li.page-links a,
body.page-colors nav li.page-colors a,
body.page-tables nav li.page-tables a,
nav.primary li a:hover,
nav.primary li a:focus,
nav.primary li a:active {
	background-image: url(../image/bg-nav-selected.png);
	background-repeat: repeat;
	background-position: bottom center;
}

nav.secondary li {
   border-bottom: 1px solid rgba(250, 250, 250, 0.4);
    width: 100%;
}

nav.secondary li a:link,
nav.secondary li a:visited,
nav.secondary li a:hover,
nav.secondary li a:focus,
nav.secondary li a:active {
	padding: 4px;
}

nav.sites {
	position: absolute;
    right: 2%;
    top: 0;
    width: 100%;
}

nav.sites ul {
	float: right;
}

nav.sites li {
	text-indent: -9999px;
	display: block;
	float: left;
}

.colour,
nav.sites .hackasaurus,
nav.sites .webpad,
nav.sites .goggles {
    background-color: #616161;
    background-image: url(../image/bg-site-icon.jpg);
    background-repeat: repeat-x;
    background-position: top center;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

nav.sites .hackasaurus,
nav.sites .webpad,
nav.sites .goggles {
    height: 32px;
    margin-right: 5px;
    width: 45px;
    display: block;
    clear: none;
}

nav.sites .hackasaurus:hover,
nav.sites .webpad:hover,
nav.sites .goggles:hover {
	padding-top: 2px;
}


nav.sites li a {
	display: block;
	background-position: top left;
	margin-right: 5px;
}

nav.sites .hackasaurus a,
nav.sites .webpad a,
nav.sites .goggles a {
    background-position: center center;
    display: block;
    height: 32px;
    margin: 0;
    padding: 0;
    width: auto;
}

nav.sites li.mozilla a {
	background-image: url(../image/icon-mozilla.png);
	width: 118px;
	height: 48px;
}

nav.sites li.hackasaurus a {
	background-image: url(../image/icon-hackasaurus.png);
}

nav.sites li.webpad a {
	background-image: url(../image/icon-webpad.png);
}

nav.sites li.goggles a {
	background-image: url(../image/icon-goggles.png);
}

.creative-commons {
	margin: 0 5px 0 0;
	float: left;
}

footer {
	   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 1em 4%;
	color: #fff;
	clear: both;
	margin-top: 2em;
	border-bottom: none;
	box-shadow: none;
	text-align: left;
	line-height: 1.2em;
	background-image: url("../image/footer.jpg");
	position: absolute;
	height: 3em;
	bottom: 0;
	width: 92%;
	display: block;
}

footer p {
    float: left;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-bottom: 0;
    width: 50%;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:focus,
footer a:active {
	color: #FFF;
}

footer .logo {
    float: right;
    margin-left: 14px;
}

.example {
	clear: both;
}

.how-it-looks,
.example-preview {
    float: right;
    margin-left: 2%;
    width: 33%;
    /*margin-bottom: 40px;*/
}

.how-it-works,
.example-code {
	width: 65%;
	float: left;
	margin-bottom: 0;
}

.example-code {
	margin-top: 20px;
}

.code,
.example-code pre,
.instructions {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: block;
    font-size: 0.8em;
    margin-bottom: 1em;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.introduction {
    font-size: 1.3em;
    margin: 2em 0;
    padding: 0 2%;
}

.instructions {
    background-image: url("../image/notepaper.jpg");
    background-position: left top;
    background-repeat: repeat-y;
    font-size: 14px;
    line-height: 20px;
    max-height: none;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 27px 3% 0;
	width: 94%;
}

.instructions h5 {
	margin-bottom: 0;
	margin-left: 25px;
	font-size: 15px;
	font-weight: bold;
}

.instructions p {
	margin-left: 25px;
	margin-bottom: 20px;
	line-height: 20px;
}

.instructions dl {
	margin-left: 25px;
	margin-top: 0;
}

.instructions dt {
	font-size: 1em;
}

.instructions dd {
	margin-bottom: 20px;
	font-size: 1em;
}

li.article,
li.tool {
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 24px;
	list-style-type: none;
}

li.article {
	background-image: url(../image/icon_book.png);
}

li.tool {
	background-image: url(../image/icon_tool.png);
}

.snippet .example {
    border-bottom: 2px dashed rgba(250, 250, 250, 0.4);
    clear: both;
    margin: 0 0 14px;
    overflow: hidden;
    padding: 0;
}

.snippet .example:last-child {
	border-bottom: none;
}

.snippet .code,
.example-code .snippet-code {
	font-size: 13px;
	margin-bottom: 28px;
	line-height: 1em;
	padding: 10px 0 10px 0;
}

.snippet .code .html,
.snippet-code .html {
    padding: 10px 3%;
}

.snippet .code .css,
.snippet-code .css {
    background-color: #E5F9E5;
    border-top: 2px dotted rgba(0, 200, 0, 0.2);
    border-bottom: 2px dotted rgba(0, 200, 0, 0.2);
    padding: 0 3% 10px;
}

#resources ul {
	margin: 0 0 1em 0;
}

#resources li {
	margin: 0 0 0.2em 0;
}

.preview a:link,
.preview a:visited,
.preview a:hover,
.preview a:focus,
.preview a:active {
	color: #0066FF;
	}

.walkthrough,
.nav-library {
	margin: 0;
	padding: 3px 0;
	width: 100%;
	overflow: hidden;
}

.walkthrough li,
.nav-library li {
	background-image: url("../image/alpha/black-10.png");
	border-radius: 4px 4px 4px 4px;
	clear: none;
	display: block;
	float: left;
	margin: 0 0 31px 3%;
	text-align: center;
	width: 29.33%;
}

.walkthrough li:nth-of-type(3n),
.nav-library li:nth-of-type(3n) {
	margin-right: 0;
}

.walkthrough li:nth-of-type(4n),
.nav-library li:nth-of-type(4n) {
	clear: both;
}

.walkthrough li a:link,
.walkthrough li a:visited,
.walkthrough li a:hover,
.walkthrough li a:focus,
.walkthrough li a:active,
.nav-library li a:link,
.nav-library li a:visited,
.nav-library li a:hover,
.nav-library li a:focus,
.nav-library li a:active {
	color: #FFF;
	text-decoration: none;
	font-size: 1.2em;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width: 100%;
	display: block;
	height: 209px;
	padding: 0;
	margin: 0;
}

.nav-library li a:link,
.nav-library li a:visited,
.nav-library li a:hover,
.nav-library li a:focus,
.nav-library li a:active {
	text-indent: -9999px;
}

.walkthrough li a:hover,
.walkthrough li a:focus,
.walkthrough li a:active,
.nav-library li:hover,
.nav-library li:focus,
.nav-library li:active {
	margin-top:-2px;
}

.nav-library li.text a {
		background-image: url(../image/bg-text.png);
		background-position: center center;
		background-repeat: repeat;
}

.nav-library li.images a {
		background-image: url(../image/bg-image.png);
		background-position: center center;
		background-repeat: repeat;
}

.nav-library li.buttons a {
		background-image: url(../image/bg_button.png);
		background-position: center center;
		background-repeat: repeat;
}

.nav-library li.templates a {
		background-image: url(../image/bg-templates.png);
		background-position: center 24px;
		background-repeat: repeat;
}

.nav-library li.links a {
		background-image: url(../image/bg-links.png);
		background-position: center center;
		background-repeat: repeat;
}

.nav-library li.tables a {
		background-image: url(../image/bg-tables.png);
		background-position: center center;
		background-repeat: repeat;
}

.nav-library li.color a {
		background-image: url(../image/bg-colors.png);
		background-position: center center;
		background-repeat: repeat;
}

/* Colour bars */

.colour {
	visibility: hidden;
}

.hasjs .colour {
	visibility: visible!important;
}

.colour {
    display: block;
    float: right;
    height: 20px;
    left: 2%;
    margin: 5px 0 2px;
    padding: 10px 11px 8px;
    position: absolute;
    top: -10px;
}

.colour ul {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border-radius: 2px;
}

.colour li {
	float: left;
	clear: none;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url(../image/gradient-colour.png);
	background-position: bottom center;
	width: 20px;
	height: 100%;
	text-indent: -9999px;
}

.colour li.grey {
background-color: #CCC;
}

body.grey *::-moz-selection,
body.grey {
	background-color: #999;
	}

body.grey header {
	background-color: #fff;
}

	.colour li.grey:hover {
		background-color: #999;
		cursor: pointer;
	}

body.red *::-moz-selection,
body.red,
.colour li.red {
	background-color: #DC3232;
	}

body.red header {
	background-color: #CD5C5C;
}

	.colour li.red:hover {
		background-color: #E40011;
		cursor: pointer;
	}

body.orange *::-moz-selection,
body.orange,
.colour li.orange {
	background-color: #FA8519;
	}

body.orange header {
	background-color: #FFA500;
}

	.colour li.orange:hover {
		background-color: #FFA100;
		cursor: pointer;
	}

body.yellow *::-moz-selection,
body.yellow,
.colour li.yellow {
	background-color: #FFD203;
	}

body.yellow header {
	background-color: #FFD700;
}
	
	.colour li.yellow:hover {
		background-color: #FFD203;
		cursor: pointer;
	}

body.green *::-moz-selection,
body.green,
.colour li.green {
	background-color: #89B847;
	}

body.green header {
	background-color: #ADFF2F;
}
	
	.colour li.green:hover {
		background-color: #C0E945;
		cursor: pointer;
	}

body.blue *::-moz-selection,
body.blue,
.colour li.blue {
	background-color: #6FAACC;
	}

body.blue header {
	background-color: #87CEFA;
}

	.colour li.blue:hover {
		background-color: #8FD2E9;
		cursor: pointer;
	}

body.purple *::-moz-selection,
body.purple,
.colour li.purple {
	background-color: #8570AA;
	}

body.purple header {
	background-color: #9370DB;
}

	.colour li.purple:hover {
		background-color: #AA91D2;
		cursor: pointer;
	}

body.pink *::-moz-selection,
body.pink,
.colour li.pink {
	background-color: #DE90BA;
	}

body.pink header {
	background-color: #FF1493;
}

	.colour li.pink:hover {
		background-color: #F2B7DE;
		cursor: pointer;
	}

.colour li:first-of-type {
	border-radius: 3px 0 0 3px;
}

.colour li:last-of-type {
	border-radius: 0 3px 3px 0;
}

section[role="main"] {
	padding-top: 14px;
}

section.home>h1 {
	display: none;
}

section.home article.snippet h1:hover,
section.home h3:hover {
	cursor: default;
}

section.home h2 {
	margin-bottom: 0;
}

.colors {
	width: 32%;
	float: left;
	margin: 0 2% 1em 0;
	overflow: hidden;
}

.colors:nth-of-type(3n){
	margin-right: 0;
}

.colors ul {
	margin: 0;
}

.colors:nth-of-type(3n+1) {
	clear: both;
}

.colors li,
.colors li span {
	text-shadow: 1px 1px 0 rgba(250,250,250,0.4);
	list-style-type: none;
    border-radius: 3px 3px 3px 3px;
	text-align: center;
	color: #333;
	display: block;
	margin: 0;
}

.colors li span {
	width: 100%;
	margin-bottom: 0.5em;
	padding: 0.3em 0 0.2em;
	border-bottom: 2px solid rgba(0, 0, 0, 0.35);
}

.colors li span:hover {
	cursor: pointer;
}


.colors li li {
	margin: 0 2% 0.5em 0;
	font-size: 0.8em;
	width: 48%;
	float: left;
	border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

/* Video */

#video {
	float: left;
}

#captions {
	color: #333333;
    font-size: 1.2em;
    margin-left: 515px;
    padding: 100px 10px 10px 10px;
    text-shadow: 1px 1px 0 rgba(250, 250, 250, 0.6);
	background-image: url(../image/alpha/white-50.png);
	min-height: 230px;
	margin-bottom: 0.7em;
	border-radius: 2px;
}

#captions a {
	color: #2D90E0;
}