/* Snippets */

.snippet .preview,
.snippet-preview {
	background-image: url(../image/alpha/white-50.png);
	background-repeat: repeat;
    border: 1px dashed rgba(250, 250, 250, 0.8);
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    display: block;
    font-family: times New Roman;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
	}

.snippet .preview h1,
.snippet .preview h2,
.snippet .preview h3,
.snippet .preview h4,
.snippet .preview h5,
.snippet .preview h6 {
	font-family: times New Roman;
	}

article.snippet .preview * {
	text-shadow: none;
	background-color: transparent;
	background-image: none;
	border: none;
	padding: 0;
	margin: 0;
}

#snippet-button-1 .preview button {
    background: #666;
    border:1px solid #000;
    padding:1em 2em;
    font-size:1.1em;
    color:#fff;
}

#snippet-button-1 .preview button:hover {
	cursor: pointer;
}

#snippet-button-2 .preview button {
    background: none repeat scroll 0 0 #CC0000;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 1em 2em;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#snippet-button-2 .preview button:hover {
	cursor: pointer;
}

#snippet-paragraph-1 .preview p {
	text-align: left;
} 

#snippet-paragraph-2 .snippet-paragraph-2a p {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
}

#snippet-paragraph-2 .snippet-paragraph-2b p {
	font-family: Courier, monospace;
	text-align: left;
	font-size: 130%;
}

#snippet-paragraph-2 .snippet-paragraph-2c p {
	font-family: Georgia, Times, serif;
	font-size: 130%;
	text-align: left;
	color: red;
	font-style: italic;
}

#snippet-heading-1 .preview {
	text-align: left;
}

#snippet-heading-1 .preview p {
	margin-bottom: 10px;
}

#snippet-heading-1 .preview h1 {
	text-align: left;
	background-image: none;
	cursor: default;
	margin: 0 0 5px;
	font-size: 23px;
	line-height: 1.2em;
}

#snippet-heading-1 .preview h2 {
	margin: 0 0 4px;
	font-size: 20px;
}

#snippet-heading-1 .preview h3 {
	margin: 0 0 3px;
	font-size: 17px;
}

#snippet-heading-1 .preview h4 {
	margin: 0 0 2px;
	font-size: 14px;
}

#snippet-list-1 .preview ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: disc;
}

#snippet-list-2 .preview ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: square;
}

#snippet-image-1 .preview img {
    max-height: 100%;
    max-width: 100%;
    }

#snippet-image-2 .preview a:link img, 
#snippet-image-2 .preview a:visited img, 
#snippet-image-2 .preview a:hover img, 
#snippet-image-2 .preview a:focus img, 
#snippet-image-2 .preview a:active img {
	border: 2px solid blue;
	max-height: 100%;
    max-width: 100%;
}

#snippet-link-4 .preview a:link,
#snippet-link-4 .preview a:visited,
#snippet-link-4 .preview a:hover,
#snippet-link-4 .preview a:focus,
#snippet-link-4 .preview a:active {
	color:red;
} 

#snippet-template-1 .preview,
#snippet-template-2 .preview,
#snippet-template-3 .preview  {
    padding: 0;
    margin: 0 0 10px 0;
    background-color: transparent;
    background-image: none;
    border: none;
}

#snippet-template-1 .preview img,
#snippet-template-2 .preview img,
#snippet-template-3 .preview img {
    max-width: 100%;
}

a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
    /*background-image: url(../image/alpha/black-40.png);*/
    background-color: #34CEFF;
    background-repeat: repeat;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    /*color: #FFFFFF;*/
    color: #333;
    display: block;
    font-family: "TitilliumTextBold";
    font-size: 1.4em;
    padding: 0.5em 0 0.3em;
    text-decoration: none;
    /*text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.3);*/
    text-shadow: 1px 1px 0 rgba(250, 250, 250, 0.6);
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.35);
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#snippet-color-1 .preview h1 {
	color: Blue;
	margin-bottom: 0.5em;
}


#snippet-color-1 .preview h2 {
	color: Green;
	background-color: Pink;
}

#snippet-image-background-1 {
	background-image: url(../library/asset/hackgirl.jpg);
	background-repeat: repeat;
	height: 145px;
	background-position: center;
	background-color: #FFF;
}

#snippet-image-background-2 {
	background-image: url(../library/asset/hackgirl.jpg);
	background-repeat: no-repeat;
	height: 145px;
	background-position: top center;
	background-color: #FFF;
}

#snippet-table-2 table {
	border-collapse: collapse;
	width: 100%;
	}

#snippet-table-2 th {
	border-bottom: 2px solid silver;
	}

#snippet-table-2 td {
	border-bottom: 1px solid silver;
	}

#snippet-table-3 table {
	border-collapse: collapse;
	width: 100%;
	}

#snippet-table-3 th,
#snippet-table-3 td {
	border-left: 1px solid silver;
	text-align: center;
	}

#snippet-table-3 th:first-child,
#snippet-table-3 td:first-child {
	border-left: none;
}