/* RESET: GENERAL STYLES ------------------------------------ */

* {
	margin:0;
	padding:0;
	}

body {
	font-family: Baskerville, Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#000;
	background-color: #FFD203;
	}


div { 
	position:relative
	}

hr {
	margin:1.5em 0 1.5em 0;
	}


/* SCREEN READERS ------------------------------------ */

acronym {
	speak:normal;
	}

abbr.initialism {
	speak:spell-out;
	}

abbr.truncation {
	speak:normal;
	}


/* TEXT STYLES ------------------------------------ */

p {
	line-height:1.7em;
	margin-bottom:1.7em;
	}

strong {
	font-weight: bold;
	}

em {
	font-style: italic;
	} 

caption,
th {
	text-align:left;
	}

q:before,
q:after {
	content:'';
	}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style:normal;
	font-weight:normal;
	}

blockquote {
	font-style:italic;
	border-left:4px solid #998877;
	margin-left:2em;
	padding-left:1em;
	}

abbr {
	}

blockquote, dl {
	margin-left:2em;
	border-left:4px solid #CCC;
	padding-left:1em;
	margin-bottom:1em;
	}


/* CODE ------------------------------------ */

code {
}


/* HEADINGS ------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 { 
	clear:both;
	font-weight: normal;
	}

h1 {
	font-size:2.2em;
	line-height:1.2em;
	margin:0.8em 0 0.5em 0;
	}

h2 {
	font-size:1.8em;
	line-height:1.2em;
	margin:1em 0 0.4em 0;
	}

h3 {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    font-size: 1.6em;
    margin: 1em 0 0.3em;
    padding: 0 0 0.2em;
	}

h4 {
	font-size:1.4em;
	line-height:1.2em;
	margin:1em 0 0.5em;
	}

h5 {
	font-size:1.2em;
	line-height:1.2em;
	margin:1em 0 0.1em 0;
	}

h6 {
	font-size:1em;
	line-height:1.2em;
	margin:1em 0 0 0;
	}


/* LISTS ------------------------------------ */

ol,
ul,
li {
	margin-left:2em;
	margin-bottom: 0.5em;
	}

dl {
	font-family:"Times New Roman", Times, serif;
	margin-top:1em;
	}

	dt {
		font-size:1.2em;
	}

	dd {
		font-size:1.1em;
		margin-bottom:1em;
		color:#454545;
	}


/* TABLES ------------------------------------ */

table {
	margin:1em 0 2em 0;
	}

td, th {
	padding:0.2em 0.5em;
	}

th {
	background-color:#999999;
	}

tr {
	border-bottom:1px solid #999999;
	}

tr:nth-child(odd) {
	background-color:#CCCCCC;
	}

/* FORMS ------------------------------------ */

fieldset {
	border:0;
	}

textarea {
	}

/* IMAGE STYLES ------------------------------------ */

img {
	border:0;
	}

/* LINKS ------------------------------------ */

a:link,
a:visited,
a:focus,
a:hover,
a:active {
	color:#0066FF;
	background-position: right;
	padding:3px 0 1px 0;
	background-repeat: no-repeat;
	}

a:link img,
a:visited img,
a:hover img,
a:focus img,
a:active img {
	border: none;
}


/* COMPONENT: BLOCKS ------------------------------------ */

header,
nav,
section,
article,
aside,
footer {
	display:block;
	position:relative;
	}

header {
	background-color: #000;
	color: #FFD203;
    padding: 0.1em 2%;
}

h2 {
	background-color: #000;
	color: #FFD203;
	padding: 0.2em 2%;
}

article {
    margin: 0 auto 0;
    overflow: hidden;
    padding: 0 0 2em;
    width: 96%;
}

header .logo {
    position: absolute;
    right: 2%;
    top: 23px;
    z-index: 1;
}

nav {
	background-color: #000;
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0 2%;
	list-style-type: none;
}

nav ul li {
	display: inline;
	margin: 0 0.2em 0 0;
	padding: 0;
}

nav ul li a:link,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
	background-color: #FFD203;
	padding: 0.2em 1em;
	color: #000;
	text-decoration: none;
	border-radius: 1px 1px 0 0;
	font-size: 1.1em;
}

footer {
	margin: 0;
	padding: 1em 2%;
	color: #fff;
	background-color: #000;
	clear: both;
	margin-top: 2em;
}

footer p {
	margin-bottom: 0;
}

footer .logo {
    background-color: #000000;
    float: right;
    padding: 6px 15px;
    position: absolute;
    right: 2%;
    top: -32px;
    width: 100px;
}

.example-preview {
    float: right;
    margin-left: 2%;
    width: 33%;
}

.example-code {
	width: 61%;
	float: left;
}

.example-code pre {
    background-color: #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 0.9em;
    height: 155px;
    overflow-y: scroll;
    padding: 2% 3%;
    width: 100%;
    font-size: 0.8em;
}

.introduction {
    font-size: 1.3em;
    margin: 2em 0;
    padding: 0 2%;
}

.snippet-preview {
    border: 2px dashed rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
    border-radius: 3px;
}

/* Snippets */

.snippet-button-1 button {
    background: #666;
    border:1px solid #000;
    padding:1em 2em;
    font-size:1.1em;
    color:#fff;
}

.snippet-button-1 button:hover {
	cursor: pointer;
}

.snippet-button-2 button {
    background: none repeat scroll 0 0 #CC0000;
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    font-size: 1.1em;
    padding: 1em 2em;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.snippet-button-2 button:hover {
	cursor: pointer;
}

.snippet-list-1 ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: disc;
}

.snippet-list-2 ul {
	margin: 0;
	padding: 0;
	text-align: left;
	list-style-type: square;
}