{% extends "goggles/base.html" %}

{% block stylesheets %}
{{ super() }}
<style>
video {
  width: 640px;
}
</style>
{% endblock %}

{% block content %}
<div id="content-header">
  <h1>{% trans %}Installing The X-Ray Goggles{% endtrans %}</h1>
</div>
{{ super() }}
<p>{% trans %}The X-Ray Goggles are a <em>bookmarklet</em>&mdash;a special kind of tool that can augment any web page.{% endtrans %}</p>
<p>{% trans %}Here's how to install the goggles bookmarklet so you can inspect and remix anything you see on the web.{% endtrans %}</p>
<ol>
  <li>
    <p>{% trans %}Enable your browser's bookmarks toolbar by watching this video:{% endtrans %}</p>
    <div id="bookmarks-toolbar-movie"></div>
  </li>
  <li>
    <p>{% trans %}Drag the <a id="bookmarklet" href="{{ GOGGLES_BOOKMARKLET_URL }}">X-Ray Goggles</a> up to your bookmarks toolbar.{% endtrans %}</p>
  </li>
  <li>
    <p>{% trans %}Whenever you want to remix any web page you're visiting, just click on the X-Ray Goggles button in your bookmarks toolbar.{% endtrans %}</p>
  </li>
</ol>
<p>{% trans %}That's all there is to it. Happy webmaking!{% endtrans %}</p>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ STATIC_URL }}scripts/goggles/bookmarks-toolbar-movie.js"></script>
{% endblock %}
