{% extends "base.html" %}

{% set GOGGLES_BASE_URL = "http://labs.toolness.com/temp/webxray-dev/" %}

{% set GOGGLES_BOOKMARKLET_URL = "javascript:(function(){var script=document.createElement('script');script.src='" + GOGGLES_BASE_URL + "webxray.js';script.className='webxray';document.head.appendChild(script);})();" %}

{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/goggles/goggles.css">
{% endblock %}

{% block content %}
<noscript>
  <div class="alert">
    <p>{% trans %}In order to use the goggles, you need to have JavaScript enabled.{% endtrans %}</p>
    <p>{% trans %}Please enable it or use a browser that supports it.{% endtrans %}</p>
  </div>
</noscript>
<div class="alert msie-only">
  <p>{% trans %}Sorry, but the goggles don't yet work on Microsoft Internet Explorer.{% endtrans %}</p>
  <p>{% trans %}Until they do, please use the latest version of <a href="http://mozilla.org/firefox">Firefox</a>, Opera, Chrome, or Safari.{% endtrans %}</p>
</div>
{% endblock %}

{% block scripts %}
<script src="/scripts/goggles/msie-only.js"></script>
{% endblock %}
