{% extends "base.html" %}
{% block title %} - {% trans %}Blog{% endtrans %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/blog.css">
{% endblock %}
{% block content %}
<div id="blog">
  <div id="content-header">
    <div class="col">
      <h1>{% trans %}Blog{% endtrans %}</h1>
      <aside>{% trans %}News, notes and ramblings from the Hackasaurus project team.{% endtrans %}</aside>
    </div>
    <div class="col">
      <img src="/images/blog/helloworld.png"/>
    </div>
  </div>
  <div class="throbber"></div>
  <div class="two-column" style="display: none">
    <section>
    	<div class="entries"></div>
    </section>
    <aside>
      <h2>{% trans %}Recent Posts{% endtrans %}</h2>
      <ul class="recent-posts"></ul>
    </aside>
  </div>
</div>

<div id="templates" style="display: none;">
  <div class="entry">
    <h2 class="title"><a></a></h2>
    <div class="byline">{% trans %}Posted by <span class="author"></span>{% endtrans %}</div>
    <div class="date"></div>
    <div class="content"></div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/scripts/blog/date.format.js"></script>
<script src="/scripts/blog/html-sanitizer-minified.js"></script>
<script src="/scripts/blog/blog.js"></script>
{% endblock %}
