<!DOCTYPE html>
<meta charset="utf-8">
<title>{% trans %}Hackasaurus{% endtrans %}</title>
<link rel="stylesheet" href="/stylesheets/normalize.css">
<link rel="stylesheet" href="/stylesheets/main.css">
<div id="header-and-content">
  <header>
    <div class="wrapper">
      <a href="{{ SITE_ROOT }}" id="logo">Hackasaurus</a>
      <ul>
        <li><a href="{{ SITE_ROOT }}goggles/">Goggles</a></li>
        <li><a href="{{ SITE_ROOT }}educators/">Educators</a></li>
        <li><a href="{{ SITE_ROOT }}events/">Events</a></li>
        <li><a href="{{ SITE_ROOT }}about/">About</a></li>
        <li><a href="{{ SITE_ROOT }}blog/">Blog</a></li>
      </ul>
      <a href="http://www.mozilla.org/" id="mozilla">Mozilla</a>
    </div>
  </header>
  <section id="content">
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
  </section>
</div>
<footer>
  <section class="cta">
    <div class="wrapper">
      <h2>Let's Be Friends!</h2>
      <p>Like us on Facebook at <a href="http://www.facebook.com/pages/Hackasaurus/140459162682866">Hackasaurus</a>. Rawr.</p> 
      <form name="signup" action="https://donate.mozilla.org/page/signup/mozilla-ignite" method="POST">
        <h3>I want to learn more about Hackasaurus!</h3>
        <div class="row">
        <label for="email">Email&nbsp;<span class="required">*</span></label>
        <input type="email" required="required" placeholder="Enter email address" class="text" size="48" id="email" name="email" value="">
        </div>
        <div class="row inline">
        <input id="custom-431" name="custom-431" type="checkbox" value="1" required="required"><label for="custom-431">I want to receive updates from Hackasaurus and Mozilla, and I agree to their <a href="http://www.mozilla.org/about/policies/privacy-policy.html">privacy policy</a> <span class="required">*</span></label>
        </div>
        <input name="submit-btn" value="Update me" type="submit">
      </form>
    </div>
  </section>
  <aside>
    <div class="external">
      <div class="wrapper">
        <div class="col tweet">
          <h2>Follow and tweet</h2>
          <p>Have you published your first hack yet? Share it on Twitter with the tag <b>#hackasaurus</b>!</p>
          <a href="https://twitter.com/hackasaurus" class="twitter-follow-button" data-show-count="false">Follow @hackasaurus</a>
          <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
        </div> 
        <div class="col learn">
          <h2>Learn more</h2>
          <ul>
              <li><a href="mailto:jess@mozillafoundation.org">Contact us</a></li>
              <li><a href="{{ SITE_ROOT }}faq/">Read our FAQ</a></li>
              <li><a href="{{ SITE_ROOT }}experiments/">Play with our learning experiments</a></li>
          </ul>
        </div>
        <div class="col moz">
          <h2>Connect with Mozilla</h2>
          <ul>
              <li><a href="http://www.mozilla.org/about/mission.html">Learn about Mozilla's mission</a></li>
              <li><a href="https://donate.mozilla.org/page/contribute/protect-the-web/">Join Mozilla</a></li>
              <li><a href="http://www.facebook.com/mozilladrumbeat/">Like us on Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="partners-and-languages">
      <div class="wrapper">
        <div class="languages">
          <h2>Other Languages</h2>
          <select>
            <option value="en-US">U.S. English</option>
          </select>
        </div>
        <div class="partners">
          <h2>Our partners</h2>
          <ul>
            <li><a class="macarthur" href="http://www.macfound.org/site/c.lkLXJ8MQKrH/b.946881/k.B85/Domestic_Grantmaking__Digital_Media__Learning.htm">MacArthur Foundation</a></li>
            <li><a class="hive" href="http://explorecreateshare.org/">The Hive NYC</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="legal">
      <div class="wrapper">
        <ul>
          <li><a href="http://www.mozilla.org/about/policies/privacy-policy.html">Privacy Policy</a></li>
          <li><a href="http://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
          <li><a href="http://www.mozilla.org/en-US/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
        </ul>
        <div class="disclaimer">Except where otherwise noted, content on this site is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.</div>
      </div>
    </div>
  </aside>
</footer>
