{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/splash.css">
{% endblock %}
{% block content %}
<div class="primary">
  <h1>{% trans %}Remix, Make and Share{% endtrans %}</h1>
  <p>{% trans %}Hackasaurus makes it easy to mash up and change any web page like magic. You can also create your own webpages to share with your friends, all within your browser.{% endtrans %}</p>
  <!-- <ul class="options">
    <li><a href="#">{% trans %}See the hack gallery{% endtrans %}</a></li>
    <li><a href="#">{% trans %}Watch a video{% endtrans %}</a></li>
  </ul> -->
  <a href="{{ LOCALE_ROOT }}goggles/" class="more">{% trans %}Get Started{% endtrans %}</a>
</div>
<div class="secondary">
  <div class="blurb">
    <h2>{% trans %}Attend An Event{% endtrans %}</h2>
    <p>{% trans %}Find a hacking club, workshop, class or design jam in your neighborhood.{% endtrans %}</p>
    <a href="{{ LOCALE_ROOT }}events/" class="more">{% trans %}Learn More{% endtrans %}</a>
  </div>
  <div class="blurb">
    <h2>{% trans %}Teach Webmaking{% endtrans %}</h2>
    <p>{% trans %}Tools for educators, parents and teens. Cheat sheets + lesson plans!{% endtrans %}</p>
    <a href="{{ LOCALE_ROOT }}educators/" class="more">{% trans %}Learn More{% endtrans %}</a>
  </div>
  <div class="blurb">
    <h2>{% trans %}Build With Us{% endtrans %}</h2>
    <p>{% trans %}Hackasaurus is an open-source project. Help us make it more awesome!{% endtrans %}</p>
    <a href="{{ LOCALE_ROOT }}contribute/" class="more">{% trans %}Learn More{% endtrans %}</a>
  </div>
</div>
{% endblock %}
