{% extends "base.html" %}
{% block content %}
<div class="primary">
  <h1>Remix, Make and Share</h1>
  <p>Hackasaurus makes it easy to mash up and change any web page like magic. You can also create your own webpages to share with your friends, all within your browser.</p>
  <ul class="options">
    <li><a href="#">See the hack gallery</a></li>
    <li><a href="#">Watch a video</a></li>
  </ul>
  <a href="{{ SITE_ROOT }}goggles/" class="more">Get Started</a>
</div>
<div class="secondary">
  <div class="blurb" id="fix-a-webpage">
    <h2>Fix A Webpage</h2>
    <p>Yikes! We wrote a story, but the evil Hackasaur threw in some errors that we need you to fix.</p>
    <a href="#" class="more">Learn More</a>
  </div>
  <div class="blurb" id="run-a-hackshop">
    <h2>Teach Webmaking</h2>
    <p>Tools for educators, parents and teens. Cheat sheets + lesson plans!</p>
    <a href="{{ SITE_ROOT }}educators/" class="more">Learn More</a>
  </div>
  <div class="blurb" id="attend-an-event">
    <h2>Attend An Event</h2>
    <p>Find a hacking club, workshop, class or design jam in your neighborhood.</p>
    <a href="{{ SITE_ROOT }}events/" class="more">Learn More</a>
  </div>
</div>
{% endblock %}
