<form autocomplete="off">
  <select class="language-selector">
    {% for name, locale in locales|dictsort %}
      {% if locale is sameas current_locale %}
      <option value="{{ name }}" selected>{{ locale.display_name }}</option>
      {% else %}
      <option value="{{ name }}">{{ locale.display_name }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <noscript>
    <ul class="noscript-language-selector">
      {% for name, locale in locales|dictsort %}
        <li><a href="/{{ name }}/">{{ locale.display_name }}</a></li>
      {% endfor %}
    </ul>
  </noscript>
</form>
