{% extends "base.html" %}

	{% block section_class %}inner-page page-events{% endblock %}
	
	{% block content_primary %}
	
		<h1>Upcoming Events</h1>
			
		<div class="lanyrd-target-splat">
			<a href="http://lanyrd.com/people/hackasaurus/" class="lanyrd-splat lanyrd-number-30 lanyrd-template-detailed" rel="me"><span class="fallback">All events</span></a>
		</div>
		
		<div class="events-previous">
		
		<h2>Previous Events</h2>
	
			<div class="lanyrd-target-splat">
				<a href="http://lanyrd.com/people/hackasaurus/" class="lanyrd-splat lanyrd-number-30 lanyrd-context-past" rel="me"><span class="fallback">All previous events</span></a>
			</div>
			
		</div>

		<h2>Hackasaurus for teachers</h2>
		
		<p>Want to teach your students how to build stuff for the web? <a href="/teachers">Have a look at our lesson plan for teachers.</a></p>
	
		<h2>Host your own hack jam</h2>
	
		<p>Hack jams are designed to make webmaking social, learner-focused and fun. Learners make, create and share together using Hackasaurus tools and un-curriculum.</p>
	
	    <p>We're working  on a "Host Your Own Hack Jam" kit to make it easy for anyone to host their own event. In the mean time, check out these resources on hosting your own hack jam:</p>

    	<ul>
    		<li><a href="http://jessicaklein.blogspot.com/2011/04/youth-design-jams-101-building-your.html">Hack Jams 101: Building Your Toolkit</a></li>
			<li><a href="http://jessicaklein.blogspot.com/2011/04/earth-day-my-carbon-footprint-3d-design.html">Earth science hack jam at the New York Hall of Science</a></li>
			<li><a href="http://openmatt.wordpress.com/2011/04/26/best-hackasaurus-event-ever/">The best Hackasaurus event ever</a></li>
			<li><a href="http://openmatt.wordpress.com/2011/04/20/hackasaurus-attacks-tedx-kids/">Hackasaurus at TEDx Kids</a>
			<li><a href="http://vimeo.com/21185874">Video from Chicago Hack Jam</a></li>
		</ul>
		
		<h2>Where Hackasaurus jams have taken place around the world</h2>
		
		<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msid=206770904024238678888.0004ad5c7ad4062b8a67c&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=46.073231,-41.484375&amp;spn=110.183649,225&amp;z=2&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?msid=206770904024238678888.0004ad5c7ad4062b8a67c&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;vpsrc=6&amp;ll=46.073231,-41.484375&amp;spn=110.183649,225&amp;z=2&amp;source=embed" style="color:#0000FF;text-align:left">Hackasaurus Jams</a> in a larger map</small>

	{% endblock %}
	
	{% block content_secondary %}
		
	<img class="photo" src="/include/image/photo-hackers-04.jpg" alt="photo-hackers-04" />
	{% include 'include/module/backpack.html' %}
		
	{% endblock %}