{% extends "base.html" %}
{% block title %} - {% trans %}Build With Us{% endtrans %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/contribute.css">
{% endblock %}
{% block content %}
<div class="primary">
  <h1>{% trans %}Build With Us{% endtrans %}</h1>
  <p>Hackasaurus is an open-source project. If you're a coder, just <a href="https://github.com/hackasaurus/webxray">fork the goggles</a> on Github, <a href="http://hackasaurus.lighthouseapp.com/projects/81472-goggles/tickets">find a bug</a>, and contribute away!</p>
  <img class="octocat" src="/images/contribute/octocat.png">
</div>
<div class="secondary">
  <div class="blurb" id="attend-an-event">
    <h2>Join the Google Group</h2>
    <p>Subscribe to our <a href="http://groups.google.com/group/hackasaurus">google group</a> if you have any questions or want to propose an idea.</p>
  </div>
  <div class="blurb" id="run-a-hackshop">
    <h2>Chat with us</h2>
    <p>Chill out with the development team on <abbr title="Internet Relay Chat">IRC</abbr> at <b>#hackasaurus</b> on irc.mozilla.org. We love visitors!</p>
  </div>
  <div class="blurb" id="fix-a-webpage">
    <h2>Localize content</h2>
    <p>We'd love to have your help translating the tools and curriculum into different languages.</p>
  </div>
</div>
{% endblock %}
