{% extends "base.html" %}
{% block title %} - {% trans %}Build With Us{% endtrans %}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/contribute.css">
{% endblock %}
{% block content %}
<div class="primary">
  <h1>{% trans %}Build With Us{% endtrans %}</h1>
  <p>{% trans %}Hackasaurus is an open-source project. If you're a coder, just <a href="https://github.com/hackasaurus/webxray">fork the goggles</a> on Github, <a href="http://hackasaurus.lighthouseapp.com/projects/81472-goggles/tickets">find a bug</a>, and contribute away!{% endtrans %}</p>
  <img class="octocat" src="/images/contribute/octocat.png">
</div>
<div class="secondary">
  <div class="blurb">
    <h2>{% trans %}Join the Google Group{% endtrans %}</h2>
    <p>{% trans %}Subscribe to our <a href="http://groups.google.com/group/hackasaurus">google group</a> if you have any questions or want to propose an idea.{% endtrans %}</p>
  </div>
  <div class="blurb">
    <h2>{% trans %}Chat with us{% endtrans %}</h2>
    <p>{% trans %}Chill out with the development team on <a href="https://wiki.mozilla.org/IRC#Getting_Started">IRC</a> at <b>#hackasaurus</b> on irc.mozilla.org. We love visitors!{% endtrans %}</p>
  </div>
  <div class="blurb">
    <h2>{% trans %}Localize content{% endtrans %}</h2>
    <p>{% trans %}We'd love to have your help <a href="https://wiki.mozilla.org/Hackasaurus/Localization">translating</a> the tools and curriculum into different languages.{% endtrans %}</p>
  </div>
</div>
{% endblock %}
