{% extends "base.html" %}
{% block stylesheets %}
<link rel="stylesheet" href="/stylesheets/events.css">
{% endblock %}
{% block content %}
<div id="events">
  <div id="content-header">
    <h1>Events</h1>
    <aside>Design jams, hackfests and workshops</aside>
  </div>
  
  <p>Hackasaurus events are taking place all over the world. Attend an event your area!</p>
  <p>Don't see anything happening in your neighborhood? Consider starting your own event. Get started by checking out the <a href="{{ LOCALE_ROOT }}educators/">Hacktivity Kit</a> for ideas on how to run your own workshop, class or jam.</p>

  <div class="header-row">
    <div>Upcoming Event</div>
    <div>Location</div>
    <div>Date</div>
  </div>
  
  <div class="throbber"></div>
  <div class="lanyrd-target-splat">
  	<a href="http://lanyrd.com/people/hackasaurus/" class="lanyrd-splat lanyrd-number-5 lanyrd-template-detailed lanyrd-context-all" rel="me"><span class="fallback">All events</span></a>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="http://cdn.lanyrd.net/badges/person-v1.min.js"></script>
<script src="/scripts/events.js"></script>
{% endblock %}
